In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('cities.csv')

In [5]:
df_ = df[['city','state']]

In [9]:
df_.to_csv('statecity.csv')

In [17]:
df_ = pd.read_csv('statecity.csv')

In [25]:
df_['city'] = df_['city'].apply(lambda x: '-'.join(x.split()))
df_['state'] = df_['state'].apply(lambda x: '-'.join(x.split()))
df_

     Unnamed: 0          city         state
0             0      New-York      New-York
1             1   Los-Angeles    California
2             2       Chicago      Illinois
3             3       Houston         Texas
4             4  Philadelphia  Pennsylvania
..          ...           ...           ...
995         995       Weslaco         Texas
996         996        Keizer        Oregon
997         997  Spanish-Fork          Utah
998         998        Beloit     Wisconsin
999         999   Panama-City       Florida

[1000 rows x 3 columns]

In [48]:
lst = pd.DataFrame(df_.state + '/' + df_.city, columns = ['Name'])
nocity = ['New-York/New-York','California/Los-Angeles','Florida/Miami','Texas/Houston']
lst = lst.loc[~lst['Name'].isin(nocity)]

In [49]:
lst.to_csv('statecity.csv')

In [52]:
for a in lst.values[0:10]:
    print(a[0])

Illinois/Chicago
Pennsylvania/Philadelphia
Arizona/Phoenix
Texas/San-Antonio
California/San-Diego
Texas/Dallas
California/San-Jose
Texas/Austin
Indiana/Indianapolis
Florida/Jacksonville