In [4]:
!ls ./loopnet

warehouses_10_NYTXCT.csv warehouses_4.csv         warehouses_8_NYout.csv
warehouses_1_TXout.csv   warehouses_5.csv         warehouses_9.csv
warehouses_2.csv         warehouses_6.csv         warehouses_NY.csv
warehouses_3_CTout.csv   warehouses_7.csv

In [113]:
import pandas as pd
import numpy as np

In [120]:
whNY = pd.read_csv('./loopnet/warehouses_NY.csv')
to_drop = ['listingID','propType','status']
whNY.drop(columns = to_drop, inplace = True)

In [121]:
def clean(df):
    price_adjust(df.price)
    #amenities_adjust(df.amenities)
    
    
    return df
df = clean(whNY)
df.isnull()

TypeError: expected string or bytes-like object

In [79]:
for x in whNY.spaceAvailable:
    if re.search("SF",x) == None:
        print(x)

In [17]:

    
whNY['buildingSize'] = whNY['buildingSize'].replace(to_replace='SF', value = '', regex = True)

In [90]:
df = whNY
df.amenities[4].split(',')

['Bus Line',
 'Conferencing Facility',
 'Security System',
 'Storage Space',
 'Car Charging Station',
 'Air Conditioning']

In [112]:
import re
## Cleaning
#address: No change

#amenities: Turn into list of amenities
def amenities_clean(amenities):
    amenities.replace(np.NaN, 'None')
    
df.amenities = amenities_clean(df.amenities)

whNY.head(10)

,address,amenities,buildingSize,city,extraInfo,listingDate,listingID,price,propType,spaceAvailable,spaces,state,status,subType,transport,utilities
0,120 Wilshire Blvd,None,"150,000 SF",Edgewood,"Property Type,Industrial,Rentable Building Are...",3/24/2020,18965073,Rent Upon Request,Industrial,"75,000 SF",1 Space,NY,For Lease,Industrial,[('Deer Park Station Commuter Rail (Ronkonkoma...,Heating - Gas
1,1600 N Ocean Ave,None,"27,000 SF",Holtsville,"Rental Rate,$15.00 /SF/YR,Rentable Building Ar...",7/19/2016,4289714,$1.25 SF/Mo,Industrial,"1,800 SF",1 Space,NY,For Lease,Industrial,[('Medford Station Commuter Rail (Greenport Br...,"Lighting,Heating"
2,71 White St,None,"25,000 SF",Brooklyn,"Rental Rate,$53.00 /SF/YR,Property Subtype,War...",7/18/2017,8236803,$4.42 SF/Mo,Industrial,"12,500 - 25,000 SF",1 Space,NY,For Lease,Retail,"[('Morgan Avenue Transit Stop', '4 min walk', ...",NaN
3,1 Ross Tech Park,None,"86,300 SF",Troy,"Rental Rate,$6.75 /SF/YR,Rentable Building Are...",3/21/2019,4079725,$0.56 SF/Mo,Industrial,"19,530 SF",1 Space,NY,For Lease,Industrial,NaN,"Gas - Natural,Water - City Water,Sewer - City ..."
4,1230-1244 Lyell Ave,None,"30,000 SF",Rochester,"Rental Rate,$8.00 - $10.00 /SF/YR,Rentable Bui...",10/14/2019,15282292,$0.67 - $0.83 SF/Mo,Industrial,"2,636 - 11,144 SF",2 Spaces,NY,For Lease,"Office, Office/Medical","[('Greater Rochester International Airport', '...",NaN
5,348 Old Niskayuna Rd,None,"63,752 SF",Albany,"Rental Rate,$7.75 /SF/YR,Rentable Building Are...",11/8/2018,14331836,$0.65 SF/Mo,Industrial,"27,105 SF",1 Space,NY,For Lease,Industrial,NaN,"Gas,Water,Heating - Gas"
6,348 Troutman St,None,"22,000 SF",Brooklyn,"Rental Rate,$25.00 /SF/YR,Property Subtype,War...",10/17/2019,12830796,$2.08 SF/Mo,Industrial,"500 - 19,499 SF",2 Spaces,NY,For Lease,"Office, Industrial","[('Jefferson Street Transit Stop', '3 min walk...",Heating - Fired Oil
7,23 Ganson Ave,None,"100,000 SF",Batavia,"Rental Rate,$3.25 /SF/YR,Rentable Building Are...",4/30/2019,15905153,$0.27 SF/Mo,Industrial,"22,000 SF",1 Space,NY,For Lease,Industrial,"[('Greater Rochester International Airport', '...",NaN
8,164 19th St,None,"10,300 SF",Brooklyn,"Rental Rate,$27.78 /SF/YR,Rentable Building Ar...",2/4/2018,11485998,$2.32 SF/Mo,Industrial,"10,300 SF",1 Space,NY,For Lease,Industrial,NaN,"Lighting - Fluorescent,Gas - Natural,Water - C..."
9,43 Bogart St,None,"5,015 SF",Brooklyn,"Rental Rate,$58.00 /SF/YR,Rentable Building Ar...",6/24/2019,16433468,$4.83 SF/Mo,Industrial,878 SF,1 Space,NY,For Lease,Retail,"[('Morgan Avenue Transit Stop', '3 min walk', ...",NaN

In [ ]:
    
#buildingSize:

In [ ]:
#city:

In [ ]:
#extraInfo:

In [ ]:
#listingDate:

In [122]:
#listingID: 
#price: 
#propType: 
#spaceAvailable: 
#spaces: 
#state: 
#status: 
#subType: 
#transport: 
#utilities: 

# Remove dollar signs, price ranges, and units from the price column
def price_adjust(price):
    lst = re.split('[- /]+',price)
    l = len(lst)

    if lst[-1] in ['Mo','MO','Month']:
        if l == 4:
            return (float(lst[0][1:]) + float(lst[1][1:]))/2
        elif l == 3:
            return float(lst[0][1:])
        else:
            return np.NaN
    if lst[-1] in ['Yr','YR','Year']:
        if l == 4:
            return (float(lst[0][1:]) + float(lst[1][1:]))/24
        elif l == 3:
            return float(lst[0][1:])/12
        else:
            return np.NaN

0.7954166666666667

In [51]:
a = whNY['price'][3]
a
b = re.split('[- /]+',a)
b
len(b)
(float(b[0][1:]) + float(b[1][1:]))/2

'$0.56 SF/Mo'

['$0.56', 'SF', 'Mo']

3

ValueError: could not convert string to float: 'F'

In [26]:
type(whNY['price'][1])

str

In [9]:
colFun = {'city' : ['count'],
          'price' : ['min','max','mean','std'],
          'spaceAvailable' : ['min','max','mean','std'],
          'spaces' : ['min','max','mean','std'],
          'subtype' : ['count']
         }